################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedBuilding/bin/Debug
/AdvancedBuilding/obj/Release
/AdvancedBuilding/obj/Debug
/AdvancedBuilding/bin/Exund.AdvancedBuiding/Exund.AdvancedBuilding.pdb
/ClassLibrary1/.vs/Exund.AdvancedBuilding/v15
/.vs/Exund.AdvancedBuilding/v15/Server/sqlite3
/.vs/Exund.AdvancedBuilding/v15
/AdvancedBuilding/bin/Exund.AdvancedBuilding/Exund.AdvancedBuilding.pdb
